//DEFAULT COLORS

$white: #FFFFFF;
$black: #000000;
$lightgrey: #c2c2c2;
$darkgrey: #262626;

$success: #1ED760;
$error: #F56C6C;

//DARK MODE

$darkprimary: #152642;
$darksecondary: #081B33;
$darktertiary: #A6EDFF;

//LIGHT MODE

$lightprimary: #2F4562;
$lightsecondary: #353C51;
$lighttertiary: #363999;

//GRADIENT

$gradient: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(227, 101, 255, 1) 0%, rgba(0, 101, 176, 1) 50%, rgba(107, 230, 255, 1) 100%);