*::first-letter {
    text-transform: uppercase;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
}

::-webkit-scrollbar {
    width: 7px;
    padding: 1px;
}

::-webkit-scrollbar-track {
    background-color: blue;
    padding: 1px;
}

::-webkit-scrollbar-thumb {
    background-color: lightblue;
    border-radius: 4px;
}

body {
    max-width: 1200px;
    margin: auto;
}

a {
    text-decoration: none;
    color: black;
    display: block;
}

li {
    list-style: none;
}

button {
    background-color: transparent;
    border: none;
}

//NAVBAR

.header {
    width: 100%;

    &_navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 1em 0 1em;

        &_logo {

            a {
                display: flex;
                flex-direction: row;
                align-items: center;

                p {
                    margin-top: 0.2em;
                }
            }
        }

        &_button {
            width: 30px;
            height: 30px;

            @include device-size(medium) {
                display: none;
            }

            svg {
                height: 2em;
                width: 2em;
                cursor: pointer;
            }
        }

        &_links {
            height: 0;
            width: 100%;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.8);
            overflow-x: hidden;
            transition: 0.4s;

            &_list {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 100%;
                gap: 1em;

                @include device-size(medium) {
                    flex-direction: row;
                    justify-content: flex-end;
                }

                li {
                    width: 100%;

                    @include device-size(medium) {
                        width: inherit;
                    }

                    a {
                        font-size: 1.5em;
                        color: $lightgrey;
                        text-align: center;

                        &:hover {
                            background-color: $lightgrey;
                            color: $black;
                        }

                        @include device-size(medium) {
                            font-size: 1em;
                            color: $black;
                            padding: 0.3em;
                            border-radius: 0 0 0.2em 0.2em;
                        }
                    }
                }

                &_socials {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    gap: 0.3em;

                    @include device-size(medium) {
                        justify-content: flex-end;
                        margin-left: 3em;
                    }

                    li {
                        a {
                            padding: inherit;

                            &:hover {
                                border-radius: 0.5em;
                            }

                            img {
                                vertical-align: middle;
                                width: 1.5em;
                            }
                        }

                    }
                }
            }

            @include device-size(medium) {
                height: inherit;
                background-color: rgba(0, 0, 0, 0);
                position: static;
            }
        }
    }
}