*::first-letter {
    text-transform: uppercase;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
    color: $lightprimary;
}

::-webkit-scrollbar {
    width: 7px;
    padding: 1px;
}

::-webkit-scrollbar-track {
    background-color: blue;
    padding: 1px;
}

::-webkit-scrollbar-thumb {
    background-color: lightblue;
    border-radius: 4px;
}

body {
    max-width: 1200px;
    margin: auto;
    background-color: $white;

}

a {
    text-decoration: none;
    color: $lightprimary;
    display: block;
}

li {
    list-style: none;
}

button {
    background-color: transparent;
    border: none;
}

//NAVBAR

.header {
    width: 100%;

    &_navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0.5em 1em 0 1em;

        &_logo {

            a {
                display: flex;
                flex-direction: row;
                align-items: center;

                p {
                    margin-top: 0.2em;
                }
            }
        }

        &_button {
            width: 30px;
            height: 30px;

            @include device-size(medium) {
                display: none;
            }

            svg {
                height: 2em;
                width: 2em;
                cursor: pointer;
            }
        }

        &_links {
            height: 0;
            width: 100%;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.8);
            overflow-x: hidden;
            transition: 0.4s;

            &_list {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 100%;
                gap: 3em;

                @include device-size(medium) {
                    flex-direction: row;
                    justify-content: flex-end;
                }

                @include device-size(large) {
                    gap: 5em;
                }

                li {
                    width: 100%;

                    @include device-size(medium) {
                        width: inherit;
                    }

                    a {
                        font-size: 1.5em;
                        color: $lightgrey;
                        text-align: center;

                        &:hover {
                            background-color: $lightgrey;
                            color: $black;
                        }

                        @include device-size(medium) {
                            font-size: 1em;
                            padding: 0.3em;
                            border-radius: 0 0 0.2em 0.2em;
                            color: $lightprimary;

                            &:hover {
                                background-color: transparent;
                            }
                        }
                    }
                }

                &_socials {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    gap: 0.3em;

                    @include device-size(medium) {
                        justify-content: flex-end;
                        margin-left: 8em;
                    }

                    @include device-size(large) {
                        margin-left: 15em;
                    }

                    li {
                        a {
                            padding: inherit;

                            &:hover {
                                border-radius: 0.5em;
                            }

                            img {
                                vertical-align: middle;
                                width: 1.5em;
                            }
                        }

                    }
                }
            }

            @include device-size(medium) {
                height: inherit;
                background-color: rgba(0, 0, 0, 0);
                position: static;
            }
        }
    }
}

//INDEX PROJECT CARD

.popular_projects {
    display: flex;
    flex-direction: column;
    gap: 2em;

    @include device-size(medium) {
        display: grid;
        grid-template-areas:
            'title title';
        gap: inherit;
        row-gap: 1em;
    }

    h2 {
        grid-area: title;
    }

    &_card {
        margin: 0 auto;
        max-width: 26.25em;
        border: solid 0.1em transparent;
        border-radius: 1em 0 1em 0;
        box-shadow: 0px 0px 5px 0px rgba(47, 69, 98, 0.30);

        div {
            display: flex;
            flex-direction: column;
            padding: 1em;
            align-items: center;


            img {
                width: 100%;
                height: 12em;
                object-fit: cover;
                border-radius: 0.5em;
            }

            h3 {
                margin-top: 0.3em;
                font-size: 1.5em;
            }

            span {
                width: 50%;
                height: 0.12em;
                background: $gradient;
                border-radius: 15%;
                margin: 0 0 0.5em 0;
            }

            button {
                margin-top: 0.5em;
                align-self: flex-start;
                padding: 0.5em 3em;
                background: $gradient;
                color: $white;
                border-radius: 2em;
                transition: 0.2s;

                &:hover {
                    transform: scale(1.05);
                }
            }
        }
    }
}