*::first-letter {
  text-transform: uppercase;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #2F4562;
}

::-webkit-scrollbar {
  width: 7px;
  padding: 1px;
}

::-webkit-scrollbar-track {
  padding: 1px;
}

::-webkit-scrollbar-thumb {
  background-color: #2F4562;
  border-radius: 4px;
}

body {
  max-width: 1200px;
  background-color: #FFFFFF;
  margin: auto;
}

a {
  text-decoration: none;
  color: #2F4562;
  display: block;
  cursor: pointer;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.header {
  width: 100%;
}
.header_navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.5em 1em 0 1em;
  box-shadow: 0px 2px 3px -2px rgba(0, 0, 0, 0.2);
}
@media only screen and (min-width: 1200px) {
  .header_navbar {
    margin: inherit;
    margin-top: 0.5em;
  }
}
.header_navbar_logo img {
  width: 2.5em;
  height: 2.5em;
}
.header_navbar_logo a {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header_navbar_logo a p {
  margin-top: 0.2em;
}
.header_navbar_button {
  width: 30px;
  height: 30px;
}
@media only screen and (min-width: 768px) {
  .header_navbar_button {
    display: none;
  }
}
.header_navbar_button svg {
  height: 2em;
  width: 2em;
}
.header_navbar_links {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  overflow-x: hidden;
  transition: 0.4s;
}
.header_navbar_links_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 3em;
}
@media only screen and (min-width: 768px) {
  .header_navbar_links_list {
    flex-direction: row;
    justify-content: flex-end;
  }
}
@media only screen and (min-width: 992px) {
  .header_navbar_links_list {
    gap: 5em;
  }
}
.header_navbar_links_list li {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .header_navbar_links_list li {
    width: inherit;
  }
}
.header_navbar_links_list li a {
  font-size: 1.5em;
  color: #f8f8f8;
  text-align: center;
  font-weight: 600;
}
.header_navbar_links_list li a:hover {
  background-color: #f8f8f8;
  color: #000000;
}
@media only screen and (min-width: 768px) {
  .header_navbar_links_list li a {
    font-size: 1em;
    padding: 0.3em;
    border-radius: 0 0 0.2em 0.2em;
    color: #2F4562;
  }
  .header_navbar_links_list li a:hover {
    background-color: transparent;
  }
}
.header_navbar_links_list_socials {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 0.3em;
}
@media only screen and (min-width: 768px) {
  .header_navbar_links_list_socials {
    justify-content: flex-end;
    margin-left: 8em;
  }
}
@media only screen and (min-width: 992px) {
  .header_navbar_links_list_socials {
    margin-left: 15em;
  }
}
.header_navbar_links_list_socials li a {
  padding: inherit;
}
.header_navbar_links_list_socials li a:hover {
  border-radius: 0.5em;
}
.header_navbar_links_list_socials li a img {
  vertical-align: middle;
  width: 1.5em;
}
@media only screen and (min-width: 768px) {
  .header_navbar_links {
    height: inherit;
    background-color: rgba(0, 0, 0, 0);
    position: static;
  }
}

.popular_projects {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
@media only screen and (min-width: 768px) {
  .popular_projects {
    display: grid;
    grid-template-areas: "title title";
    -moz-column-gap: 2em;
         column-gap: 2em;
    row-gap: 3em;
    margin-top: 6em;
  }
}
.popular_projects h2 {
  grid-area: title;
  margin: 0 1em;
}
.popular_projects h2::after {
  display: block;
  content: "";
  width: 3em;
  border-bottom: 0.1em solid #2F4562;
}
.popular_projects_card:nth-child(2) {
  border-radius: 0.5em 0.5em 0 0.5em;
}
.popular_projects_card:nth-child(3) {
  border-radius: 0.5em 0.5em 0.5em 0;
}
.popular_projects_card:nth-child(4) {
  border-radius: 0.5em 0 0.5em 0.5em;
}
.popular_projects_card:nth-child(5) {
  border-radius: 0 0.5em 0.5em 0.5em;
}
.popular_projects a .popular_projects_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 26.25em;
  border: solid 0.1em #000000;
  border-radius: 0.5em;
  padding: 1em;
  background-color: #f8f8f8;
}
.popular_projects a .popular_projects_card_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.popular_projects a .popular_projects_card_header :nth-child(1) {
  width: 1.5em;
}
.popular_projects a .popular_projects_card_header :nth-child(2) {
  width: 1.2em;
}
.popular_projects a .popular_projects_card_content {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.popular_projects a .popular_projects_card_content h3 {
  margin-bottom: 0.3em;
  font-size: 1.5em;
}
.popular_projects a .popular_projects_card_footer {
  margin-top: 1em;
}
.popular_projects a .popular_projects_card_footer p {
  opacity: 0.8;
  font-size: 0.8em;
}

.welcome {
  margin: 2em 1em;
  max-width: 36em;
}
.welcome h1 {
  font-size: 2em;
}
.welcome h1::after {
  display: block;
  content: "";
  width: 3em;
  border-bottom: 0.1em solid #353C51;
}
@media only screen and (min-width: 768px) {
  .welcome {
    margin: 5em 1em 0 1em;
  }
}
.welcome p {
  margin-top: 1em;
  margin-left: 2em;
}
.welcome button {
  margin-left: 4em;
  margin-top: 1em;
  align-self: flex-start;
  padding: 0.5em 2em;
  background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(227, 101, 255) 0%, rgb(0, 101, 176) 50%, rgb(107, 230, 255) 100%);
  border-radius: 2em;
  transition: 0.2s;
}
.welcome button a {
  color: #FFFFFF;
}
.welcome button:hover {
  transform: scale(1.05);
}

.technologies {
  margin-top: 1em;
  margin-bottom: 5em;
}
@media only screen and (min-width: 768px) {
  .technologies {
    margin-top: 6em;
  }
}
.technologies h2 {
  margin: 0 1em;
}
.technologies h2::after {
  display: block;
  content: "";
  width: 3em;
  border-bottom: 0.1em solid #353C51;
}
.technologies_list {
  margin: 1em 2em 0 2em;
}
@media only screen and (min-width: 768px) {
  .technologies_list {
    margin: 1em 5em 0 5em;
  }
}
.technologies_list_label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.technologies_list_label label {
  font-weight: 600;
}
.technologies_list_progress {
  padding: 0.06em;
  background: #f8f8f8;
  border-radius: 0.5em;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}
.technologies_list_progress_bar {
  height: 1em;
  border-radius: 0.5em;
  background-image: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(227, 101, 255) 0%, rgb(0, 101, 176) 50%, rgb(107, 230, 255) 100%);
  transition: 2s smooth;
  transition-property: width, background-color;
  width: 1%;
}/*# sourceMappingURL=main.css.map */