*::first-letter {
  text-transform: uppercase;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Mukta", sans-serif;
  color: #2F4562;
}

::-webkit-scrollbar {
  width: 7px;
  padding: 1px;
}

::-webkit-scrollbar-track {
  background-color: blue;
  padding: 1px;
}

::-webkit-scrollbar-thumb {
  background-color: lightblue;
  border-radius: 4px;
}

body {
  max-width: 1200px;
  margin: auto;
  background-color: #FFFFFF;
}

a {
  text-decoration: none;
  color: #2F4562;
  display: block;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
}

.header {
  width: 100%;
}
.header_navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.5em 1em 0 1em;
}
.header_navbar_logo a {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header_navbar_logo a p {
  margin-top: 0.2em;
}
.header_navbar_button {
  width: 30px;
  height: 30px;
}
@media only screen and (min-width: 768px) {
  .header_navbar_button {
    display: none;
  }
}
.header_navbar_button svg {
  height: 2em;
  width: 2em;
  cursor: pointer;
}
.header_navbar_links {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  overflow-x: hidden;
  transition: 0.4s;
}
.header_navbar_links_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 3em;
}
@media only screen and (min-width: 768px) {
  .header_navbar_links_list {
    flex-direction: row;
    justify-content: flex-end;
  }
}
@media only screen and (min-width: 992px) {
  .header_navbar_links_list {
    gap: 5em;
  }
}
.header_navbar_links_list li {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .header_navbar_links_list li {
    width: inherit;
  }
}
.header_navbar_links_list li a {
  font-size: 1.5em;
  color: #c2c2c2;
  text-align: center;
}
.header_navbar_links_list li a:hover {
  background-color: #c2c2c2;
  color: #000000;
}
@media only screen and (min-width: 768px) {
  .header_navbar_links_list li a {
    font-size: 1em;
    padding: 0.3em;
    border-radius: 0 0 0.2em 0.2em;
    color: #2F4562;
  }
  .header_navbar_links_list li a:hover {
    background-color: transparent;
  }
}
.header_navbar_links_list_socials {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 0.3em;
}
@media only screen and (min-width: 768px) {
  .header_navbar_links_list_socials {
    justify-content: flex-end;
    margin-left: 8em;
  }
}
@media only screen and (min-width: 992px) {
  .header_navbar_links_list_socials {
    margin-left: 15em;
  }
}
.header_navbar_links_list_socials li a {
  padding: inherit;
}
.header_navbar_links_list_socials li a:hover {
  border-radius: 0.5em;
}
.header_navbar_links_list_socials li a img {
  vertical-align: middle;
  width: 1.5em;
}
@media only screen and (min-width: 768px) {
  .header_navbar_links {
    height: inherit;
    background-color: rgba(0, 0, 0, 0);
    position: static;
  }
}

.popular_projects {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
@media only screen and (min-width: 768px) {
  .popular_projects {
    display: grid;
    grid-template-areas: "title title";
    gap: inherit;
    row-gap: 1em;
  }
}
.popular_projects h2 {
  grid-area: title;
}
.popular_projects_card {
  margin: 0 auto;
  max-width: 26.25em;
  border: solid 0.1em transparent;
  border-radius: 1em 0 1em 0;
  box-shadow: 0px 0px 5px 0px rgba(47, 69, 98, 0.3);
}
.popular_projects_card div {
  display: flex;
  flex-direction: column;
  padding: 1em;
  align-items: center;
}
.popular_projects_card div img {
  width: 100%;
  height: 12em;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5em;
}
.popular_projects_card div h3 {
  margin-top: 0.3em;
  font-size: 1.5em;
}
.popular_projects_card div span {
  width: 50%;
  height: 0.12em;
  background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(227, 101, 255) 0%, rgb(0, 101, 176) 50%, rgb(107, 230, 255) 100%);
  border-radius: 15%;
  margin: 0 0 0.5em 0;
}
.popular_projects_card div button {
  margin-top: 0.5em;
  align-self: flex-start;
  padding: 0.5em 3em;
  background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(227, 101, 255) 0%, rgb(0, 101, 176) 50%, rgb(107, 230, 255) 100%);
  color: #FFFFFF;
  border-radius: 2em;
  transition: 0.2s;
}
.popular_projects_card div button:hover {
  transform: scale(1.05);
}/*# sourceMappingURL=main.css.map */