.welcome {
    margin: 2em 1em;
    max-width: 36em;

    h1 {
        font-size: 2em;

        &::after {
            display: block;
            content: "";
            width: 3em;
            border-bottom: 0.1em solid $lightsecondary;
        }
    }

    @include device-size(medium) {
        margin: 5em 1em 0 1em;
    }

    p {
        margin-top: 1em;
        margin-left: 2em;
    }

    button {
        margin-left: 4em;
        margin-top: 1em;
        align-self: flex-start;
        padding: 0.5em 2em;
        background: $gradient;
        border-radius: 2em;
        transition: 0.2s;

        a {
            color: $white;
        }

        &:hover {
            transform: scale(1.05);
        }
    }
}


.technologies {
    margin-top: 1em;
    margin-bottom: 5em; //remove

    @include device-size("medium") {
        margin-top: 6em;
    }

    h2 {
        margin: 0 1em;

        &::after {
            display: block;
            content: "";
            width: 3em;
            border-bottom: 0.1em solid $lightsecondary;
        }
    }

    &_list {
        margin: 1em 2em 0 2em;

        @include device-size("medium") {
            margin: 1em 5em 0 5em;
        }


        &_label {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            label {
                font-weight: 600;
            }
        }

        &_progress {
            padding: 0.06em;
            background: $lightgrey;
            border-radius: 0.5em;
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);

            &_bar {
                height: 1em;
                border-radius: 0.5em;
                background-image: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(227, 101, 255, 1) 0%, rgba(0, 101, 176, 1) 50%, rgba(107, 230, 255, 1) 100%);
                transition: 2s smooth;
                transition-property: width, background-color;
                width: 1%;
            }
        }
    }
}